#score-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

    #score-container > input {
        margin-bottom: 10px;
    }

#submission-validation {
    font-size: 80%;
    color: #dc3545;
    margin-bottom: 5px;
    text-align: center;
}

#submission-count {
    margin-top: 10px;
}

.danger-zone {
    color: red;
}

@media only screen and (max-width: 600px) {
    #score-container {
        width: 100%;
        border-radius: 0; 
        margin: 0;
    }
}
