.leaderboard-container {
    min-height: 100vh;
    padding-bottom: 30px;
}

.leaderboard-container h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#flag {
    max-width: 35px;
    border-radius: 3px;
    border: lightgray 1px solid;
}

@media only screen and (max-width: 600px) {
    .leaderboard-container h1 {
        visibility: hidden;
    }
}
