#home-icon {
    font-size: 48px !important;
    color: #17a2b8;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px;
    z-index: 1;
}

#trophy-icon {
    font-size: 48px !important;
    color: #17a2b8;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    z-index: 1;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@media only screen and (max-width: 600px) {
    #home-icon, #trophy-icon {
        font-size: 32px !important;
    }
}
