.map-container {
    position: relative;
    height: 100vh;
    z-index: 0;
}

.map-container > svg {
    position: absolute;
    height: 95%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.map-container > svg > .svg-map__location {
    fill: lightgrey;
}

@media only screen and (max-width: 600px) {
    .map-container > svg {
        top: 40%;
    }
}
