.App > svg {
    height: 100vh;
}

.App > svg > .svg-map__location {
    fill: lightgrey;
}

#start-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
}

    #start-button > button {
        font-size: 5rem;
        padding: 0.75rem 3rem;
    }

#score-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 25px;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

    #score-container > input {
        margin-bottom: 10px;
    }
